.outer-container {
    /*outer container taking full height */
    min-height: 100vh;
    display: flex;
    /* Ensure vertical stacking */
    flex-direction: column;
    /* Align the form towards the top */
    align-items: center;
    padding-top: 150px;
    background-color: #f3f2f0;
}

.form-container {
    /*form width */
    width: 400px;
    padding: 20px;
    background-color: white;
    /* Rounded corners */
    border-radius: 8px;
    /* Optional shadow */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


/* Styling for the blue "Agree & Join" button */

.btn-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    /* Rounded corners */
    border-radius: 25px;
    /* Remove border to retain clean blue look */
    border: none;
    color: white;
    background-color: #1566c2;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}


/* Blue button hover effect */

.btn-blue:hover {
    background-color: #0a4182;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: 14px;
    color: #888;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.btn-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    /* Prevent text wrapping */
    white-space: nowrap;
    border-radius: 25px;
    border: 1px solid #dadce0;
    color: #3c4043;
    background-color: white;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.auth-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.google-auth-btn,
.facebook-auth-btn,
.slu-auth-btn {
    color: #333;
}

.btn-auth:hover {
    /* Light blue color on hover */
    background-color: #f1f3f4;
    /* Keep the border color consistent */
    border-color: #dadce0;
    color: #3c4043;
}