.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #007bff;
  color: white;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-btn {
  padding: 0.5rem 1rem;
  background-color: #ff9900;
  color: white;
  border: none;
  cursor: pointer;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Search bar styles */
.search-area {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
}

.search-category {
  padding: 0.3rem;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

.search-input {
  border: none;
  padding: 0.3rem;
  outline: none;
  flex: 1;
}

.search-btn {
  background-color: #ff9900;
  border: none;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn svg {
  color: white;
}

.search-btn:hover {
  background-color: #e68a00;
}

@media (max-width: 768px) {
  .search-container {
    width: 100%;
  }
}


/* Location Filter and Sort Styles */
.location-filter, .sort-filter {
  margin-left: 1rem;
  padding: 0.3rem;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

/* Adjust for mobile responsiveness */
@media (max-width: 768px) {
  .search-container {
    width: 100%;
  }
  
  .location-filter, .sort-filter {
    margin-left: 0.5rem;
    padding: 0.3rem;
  }
}
