.profilePage {
    width: calc(100% - 250px);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 250px;
}

.profileDetails {
    text-align: left;
}

.profileDetails h2 {
    margin-bottom: 10px;
}

.profileDetails button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profileDetails button:hover {
    background-color: #0056b3;
}